@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.navbar {
  position: fixed;
  top:0px; 
  width: 100%;
  z-index: 999;

}
.navactive{
  /* background-color: aqua; */
  background: linear-gradient(45deg, #00d9ff, #ff00a2);
  border-radius: 3px;
}
.textscroll{
  background: #585858;
  font-size: 25px;
  color: #00ff42;
  padding: 6px;
}
.showlanlink{
  transition: transform 0.5s ease-in-out;
  transform: translateX(0px) !important;
}
.hidelanlink{
  transition: transform 0.5s ease-in-out;
  transform: translateX(352px) !important;

}
.box1{
  height: 330px;
  width: 330px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out ;
  box-shadow:2px 3px 9px 6px rgb(31 36 40 / 30%);
 background-color: #86b7ea;

  &:hover{
    transform: scale(1.05);
  }
}
.callbox{
  transition: transform 0.3s ease-in-out ;
  background: linear-gradient(45deg, #a0ffc5, #a0bcff);
  cursor: pointer;
  box-shadow: 7px 6px 2px 0px #8989897a;
  &:hover{
    transform: scale(1.07);
  }

}
.msgbox{
  transition: transform 0.3s ease-in-out ;
  background: linear-gradient(45deg, #a0ffc5, #a0bcff);
  cursor: pointer;
  box-shadow: 7px 6px 2px 0px #8989897a;
  border-radius: 15px;
  &:hover{
    transform: scale(1.07);
  }

}
.btnmag{
  background-color: #46bbcc;
  transition:transform 0.3s ease-in-out ;
  font-size: 15px;
  &:hover{
    transform: scale(1.07);
    background-color: #3099a9;
  }
  &:active{
    background-color: #2e8a98;
  }
}
.btnfood{
    height: 30px;
    border-radius: 6px;
    border: none;
    background-color: pink;
    cursor: pointer;
    padding: 7px;
    font-family: cursive;
    color: #00569b;
    margin-bottom: 11px;
    transition: all 0.4s ease-in-out;
    &:hover{
      background-color: rgb(245, 143, 160); 
      transform: scale(1.03);
    }
    &:active{
      background-color: rgb(249, 113, 135); 

    }
}

.whyread{
  width: 95vw;
  box-shadow:2px 3px 9px 6px rgb(31 36 40 / 30%);
  cursor: pointer;
  transition: transform 0.3s ease-in-out ;
  background-color: #8de5a3;
  &:hover{
    transform: scale(1.03);
  }
}
.point1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 120px;
  box-shadow:2px 3px 7px 2px rgb(0 0 0 / 31%);
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.3s ease-in-out ;
  background-color: rgb(120, 218, 250);
  &:hover{
    transform: scale(1.07);
  }
}
.moreabout{
  width: 95vw;
  box-shadow:2px 3px 9px 6px rgb(31 36 40 / 30%);
  cursor: pointer;
  transition: transform 0.3s ease-in-out ;
  background-color: #8de5a3;
  &:hover{
    transform: scale(1.03);
  }
}

.Special-text{
  width: 95vw;
  box-shadow:2px 3px 9px 6px rgb(31 36 40 / 30%);
  cursor: pointer;
  transition: transform 0.3s ease-in-out ;
  background-color: #8de5a3;
  &:hover{
    transform: scale(1.03);
  }
}
.logoicon{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 0px 9px 4px rgb(31 36 40 / 30%) ;
  height: 60px;
  width: 60px;
  transition: all 0.4s ease-in-out;
  &:hover{
    background-color: #00d9ff;
    transform: scale(1.05);
  }

}
.founder{
  margin-top:15px;
  width: 96vw;
  border-radius: 20px;
  background-color: #a0ffc5;
  box-shadow: 4px 4px 7px 2px rgb(31 36 40 / 32%);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:hover{
    transform: scale(1.03);
    background-color:#7fdca3 ;
  }
}
.teacher-box{
  height: 265px;
  width: 600px;
  box-shadow: 4px 4px 7px 2px rgb(31 36 40 / 32%);
  border-radius: 18px;
  cursor: pointer;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  background:linear-gradient(45deg,#a0ffd6,lightblue);
  transition:transform 0.4s ease-in-out ;
  &:hover{
    transform: scale(1.03);
  }
}
.tpic{
  cursor: pointer;
  transition:transform 0.3s ease-in-out ;
  &:hover{
    transform: scale(1.03);
  }
}
.text-center{
  font-family: "Poppins", sans-serif;
}