@media (max-width: 768px) {
    .navname{
        font-size: 11px;
    }
    .scrolltext{
        padding-top: 94px !important;
    }


  }
  @media (max-width: 668px) {
    .navhide{
        display: none;
    }
    .shownav{
        display:block !important;
    }
  }
  @media (max-width: 671px) {
    .headtext{
        margin-left: 0px !important;
    }
  }
  @media (max-width: 425px) {
    .callbox{
        width: 96vw !important;
    }
    .msgbox{
        
        width: 96vw !important;
    }
   
  }
@media (max-width: 425px) {
    .tpic{
        width: 98vw !important;
    }
    .targe-text{
        height: 115px;
    }
    .Service-text{
        height: 158px;
    }
}
@media (max-width: 509px) {
    .targettext{
        width: 98vw !important;
    }
}
@media (max-width: 460px) {
        .text{
            height: 260px !important;
        }
}

@media (max-width: 637px) {
    .whyread{
        height: 500px !important;
    }

}
@media (max-width: 590px) {
    .system-text{
        height: 115px !important;
    }
    .type-text-more{
        height: 215px !important;
        
    }
    .type-parents{
        height: 100px !important;

    }
}
