@media (max-width: 768px) {
    .navname{
        font-size: 11px;
    }
    .scrolltext{
        padding-top: 94px !important;
    }


  }
  @media (max-width: 668px) {
    .navhide{
        display: none;
    }
    .shownav{
        display:block !important;
    }
  }
  @media (max-width: 671px) {
    .headtext{
        margin-left: 0px !important;
    }
  }
  @media (max-width: 425px) {
    .callbox{
        width: 96vw !important;
    }
    .msgbox{
        
        width: 96vw !important;
    }
  }